chardet==2.3.0
click==6.2
colorama==0.3.3
command-not-found==0.3
defer==1.0.6
dioc==0.0.10
ecdsa==0.13
html5lib==0.999
language-selector==0.1
lightdm-gtk-greeter-settings==1.2.0
lxml==3.4.4
paramiko==1.16.0
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.19.5.1
pygobject==3.16.2
pysmbc==1.0.15.4
python-apt==1.0.1+ubuntu0.1
python-debian==0.1.27
python-digitalocean==1.8
requests==2.9.1
six==1.9.0
ubuntu-drivers-common==0.0.0
ufw==0.34
unattended-upgrades==0.1
urllib3==1.11
usb-creator==0.2.23
wheel==0.26.0
xkit==0.0.0
